# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Raw datasets
data/*.csv
data/*.zip
data/*.xlsx
data/*.xls
data/*.json
data/*.parquet

# Model/cache files
*.pkl
*.joblib
.cache/

# OS files
.DS_Store
Thumbs.db
